.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.socials {
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.links {
    display: flex;
    flex: 1;
    gap: 20px;
    font-size: 20px;
    align-items: center;
}

.burger {
    display: none;
}

@media screen and (max-width: 1280px) {
    .logo {
        font-size: 32px;
    }

    .links {
        font-size: 18px;
        gap: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .socials {
        display: none;
    }

    .logo {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}

@media screen and (max-width: 640px) {
    .links {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
    }

    .line {
        border-bottom: 2px solid var(--textColor);
        width: 30px;
    }

    .x {
        font-weight: normal;
        font-size: 30px;
        color: var(--textColor);
    }

    .responsiveMenu {
        display: flex;
        flex-direction: column;
        background: var(--bg);
        flex: 1;
        font-size: 30px;
        gap: 30px;
        position: absolute;
        width: 100vw;
        left: 0;
        height: calc(100vh - 100px);
        top: 100px;
        align-items: center;
        justify-content: center;
    }
}